<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `images/ProgressTracker-symbol.png` | relURL }}" alt="progress symbol" width="150" height="150">
        <h2 class="h2">Progress Tracker <small class="d-none">🛡️</small></h2>
        <p>Track the progress for any project based on the amount of tasks currently being worked on and those completed. Set progress goals and track overall performance relative to goals.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/collab-symbol.png` | relURL }}" alt="Symbol for collaboration" width="150" height="150">
        <h2 class="h2">Collaborative <small class="d-none">🚀</small></h2>
        <p>Share and collaborate with colleagues on projects. See updates in real time as tasks are completed by others.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/calendar.png` | relURL }}" alt="calendar symbol" width="150" height="150">
        <h2 class="h2">Calendar Integration <small class="d-none">📈</small></h2>
        <p>Seamlessly integrate group or personal project timelines into any calendar app to stay up to date on all tasks and deadlines.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Project Notifications <small class="d-none">🦉</small></h2>
        <p>Get notified when task deadlines are upcoming or when tasks are completed by collaborators. Customize notification preferences for major updates only for selected projects as desired.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Resource Integration <small class="d-none">✨</small></h2>
        <p>Option to include certain relevant resources like links, files and notes to each task to facilitate understand and quick completion.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Easy-to-use for Everyone <small class="d-none">🧰</small></h2>
        <p>Everything is designed to be easy to use for students and working professionals.</p>
    </div>
</div>
